# modify the values and rename the file to .env
SECRET_KEY = KEY_FROM_RUNNING_"openssl rand -hex 32'
ALGORITHM = ALGORITHM_TYPE
ACCESS_TOKEN_EXPIRE_MINUTES =  JWT_TOKEN_EXPIRE_DURATION_IN_MINUTE
DATABASE_URL = DATABASE_LOCATION